.card {
    width: 58rem;
    margin-top: 5rem;
    height: 39rem;
    background-color: rgba(0,0,0,0.5) !important
}

.form-control::placeholder { 
    color: lightgrey;
    opacity: 1; 
}

.font{
    font-family: "Kalam";
}

.fontSize{
    font-size: l;
}

.carousel1st{
    top: 0;
    bottom: auto;
}

html {
    background-repeat: no-repeat;
    width: 100%;
    background-image: url('https://img.freepik.com/free-vector/asteroid-space-background_1308-33879.jpg?t=st=1710310296~exp=1710313896~hmac=6843491197c2dd5d625b74cb863105cfe031ca1ef28c754799ae704248a66dba&w=1800');
  }

  body {
    background-repeat: no-repeat;
    width: 100%;
    background-image: url('https://img.freepik.com/free-vector/asteroid-space-background_1308-33879.jpg?t=st=1710310296~exp=1710313896~hmac=6843491197c2dd5d625b74cb863105cfe031ca1ef28c754799ae704248a66dba&w=1800');
  }

  .no-border {
    border: 0;
    box-shadow: none;
}

.legend{
    margin-left: -8rem;
    font-size: 15px;
}

.margin{
    margin-top: -23px;
}

.marginCheck{
    margin-left: -55px;
}

.tall{
    height: -1px;
}

.login {

    background-color: #09111c;
}

.mb-3 {

    width: 22rem;
}

.cardStyle {
    display: flex;
    justify-content: space-evenly;
}

.cardLogin {
    display: flex;
    align-items: center;
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
  .pic{
    height: 38rem;

  }
